/* 작성자: 윤혜진 */
@charset "utf-8";

#wrap {
    width: 100%;
    position: relative;
    padding-bottom: 50px;
}
#main {
    width: 80%;
    padding-top: 40px;
    margin: 0 auto;
}
#mainBox {
    width: calc(85% - 40px);
    float: left;
    margin-left: 40px;
}

/* 테이블(리스트) */
table {
    width: 100%;
    text-align: center;
    border: 0;
    margin-bottom: 30px;
}
table tr {
    border: 0;
    border-bottom: 1px solid #c6c6c6;
}
table th,
table td {
    height: 30px;
}
table th {
    border: 0;
    background-color: #2D3D4D;
    color: #fff;
}
table td {
    border: 0;
}
table td input:read-only {
    border: 0;
}

/* 페이지네이션 */
.pagination {
    text-align: center;
}
.pagination > div {
    display: inline-block;
}
.pagination a {
    float: left;
    padding: 6px;
    border: 1px solid #ddd;
    margin: 0 4px;
}
.pagination a.page_active {
    background-color: #0D0D0D;
    color: white;
    border: 1px solid #0D0D0D;
}
.pagination a:hover.page_active {
    background-color: #0052A4;
    border: 1px solid #0052A4;
}
.pagination a:hover:not(.page_active) {
    background-color: #ddd;
}


/* ****************** notice_list.html ******************** */
.main_notice_list h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
/* 하단 버튼 */
.main_notice_list .btn_box {
    text-align: right;
}
.main_notice_list .btn_box a,
.main_notice_list .btn_box button {
    width: 100px;
    height: 30px;
    outline: none;
    border: 0;
    cursor: pointer;
    background-color: #0D0D0D;
    color: #fff;
}
.main_notice_list .btn_box a:hover,
.main_notice_list .btn_box button:hover {
    background-color: #0052A4;
}
.main_notice_list .btn_box a {
    display: inline-block;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
    vertical-align: bottom;
}




/* ****************** notice_write.html ******************** */
.main_notice_write h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.main_notice_write form {
    width: 100%;
}
.main_notice_write form .form_group {
    width: 100%;
    margin-bottom: 20px;
}
.main_notice_write form .form_group > label,
.main_notice_write form .form_group > input {
    display: block;
    width: 100%;
    height: 30px;
    outline: none;
}
.main_notice_write form .form_group > textarea {
    display: block;
    width: 100%;
    height: 300px;
    outline: none;
}
/* ----------- 파일첨부 커스텀 -------------- */
.notice_file_box {
    margin-bottom: 30px;
}
.notice_file_box input[type="file"] { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0; 
} 
.notice_file_box .ex_filename_btn { 
    display: inline-block; 
    width: 80px;
    height: 30px;
    text-align: center;
    vertical-align: top;
    background-color: #0D0D0D;
    color: #fff; 
    cursor: pointer; 
    border: 1px solid #000;
    padding: .45em;
} 
.notice_file_box .ex_filename_btn:hover {
    background-color: #0052A4;
}
.notice_file_box .notice_upload_label { 
    display: block;
    width: 100%;
    height: 30px;
}
/* named upload */ 
.notice_file_box .upload_name { 
    display: inline-block; 
    width: calc(100% - 85px);
    height: 30px;
    vertical-align: middle;
    border: 1px solid #000;

    -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
    -moz-appearance: none; 
    -o-appearance: none; 
    -ms-appearance: none; 
    appearance: none; 

    padding: .5em .75em; /* label의 패딩값과 일치 */ 
}
/* --------------------------------------- */
.main_notice_write form .btn_box {
    width: 100%;
    text-align: center;
}
.main_notice_write form .btn_box input, 
.main_notice_write form .btn_box a {
    display: inline-block;
    width: 100px;
    height: 30px;
    border: 0;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: #0D0D0D;
    color: #fff;
}
.main_notice_write form .btn_box a {
    line-height: 30px;
}
.main_notice_write form .btn_box input {
    margin-right: 10px;
}
.main_notice_write form .btn_box input:hover, 
.main_notice_write form .btn_box a:hover {
    background-color: #0052A4;
}




/* ****************** notice_detail.html ******************** */
.main_notice_detail h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.main_notice_detail table {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.main_notice_detail table th {
    height: 30px;
    background-color: #2D3D4D;
    color: #fff;
}
.main_notice_detail table td {
    height: 300px;
    text-align: left;
    border-color: #C6C6C6;
    vertical-align: top;
    padding: 20px;
}
.main_notice_detail .btn_box {
    text-align: right;
}
.main_notice_detail .btn_box a,
.main_notice_detail .btn_box button {
    width: 100px;
    height: 30px;
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: #0D0D0D;
    color: #fff;
    vertical-align: middle;
}
.main_notice_detail .btn_box a {
    display: inline-block;
    line-height: 30px;
    text-align: center;
}
.main_notice_detail .btn_box button {
    margin: 0 10px;
}
.main_notice_detail .btn_box a:hover,
.main_notice_detail .btn_box button:hover {
    background-color: #0052A4;
}




/* ****************** goods_manage.html ******************** */
.goods_manage_list h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
/* 테이블 위 검색창 */
.search_form {
    width: 100%;
    border: 1px solid #000;
    padding: 20px;
    margin-bottom: 20px;
}
.search_form .search_left_box {
    float: left;
    width: calc(100% - 100px);
    padding-right: 20px;
}
.search_form .search_left_box .form_group {
    width: 100%;
    height: 30px;
}
.search_form .search_left_box .form_group:first-child {
    margin-bottom: 10px;
}
.search_form .search_left_box .form_group select {
    width: 15%;
    height: 100%;
    outline: none;
}
.search_form .search_left_box .form_group #searchText {
    width: calc(100% - 16%);
    height: 100%;
    outline: none;
    vertical-align: top;
}
.search_form .search_left_box .form_group span {
    display: inline-block;
    width: 15%;
    height: 100%;
    line-height: 30px;
}
.search_form .search_left_box .form_group label {
    margin-right: 20px;
}
/* 검색 버튼 */
.search_form .search_btn_box {
    float: right;
    position: relative;
    padding-top: 20px;
}
.search_form .search_btn_box::after {
    content: "";
    display: block;
    width: 1px;
    height: 70px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: -12px;
}
.search_form .search_btn_box input {
    width: 100px;
    height: 30px;
    background-color: #0D0D0D;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
}
.search_form .search_btn_box input:hover {
    background-color: #0052A4;
}
/* 표 위 총 개수, 버튼들 */
.table_title_box {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}
.table_title_box .table_title {
    float: left;
    height: 100%;
    line-height: 30px;
}
.table_title_box .table_title span:first-child {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}
.table_title_box .table_title span:first-child::after {
    content: "";
    display: block;
    width: 1px;
    height: 20px;
    background-color: #000;
    position: absolute;
    top: 5px;
    right: -12px;
}
.table_title_box .table_title span:last-child {
    font-weight: bold;
}
.table_title_box .btn_box {
    float: right;
    height: 100%;
    line-height: 30px;
}
.table_title_box .btn_box button,
.table_title_box .btn_box a {
    display: inline-block;
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: #0D0D0D;
    color: #fff;
    cursor: pointer;
    border: 0;
    outline: none;
    margin-left: 10px;
}
.table_title_box .btn_box button:hover,
.table_title_box .btn_box a:hover {
    background-color: #0052A4;
}
.table_title_box .btn_box #goodsManageExcel {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.table_title_box .btn_box #goodsManageExcel:hover {
    background-color: #0052A4;
    color: #fff;
}
/* 테이블의 수정 텍스트(링크) */
.goods_edit_link {
    color: #0052A4;
    text-decoration: underline;
}




/* ****************** goods_info.html ******************** */
.goods_info h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.goods_info_form table th,
.goods_info_form table td {
    height: 40px;
}
.goods_info_form table th {
    width: 100px;
}
.goods_info_form table td {
    text-align: left;
    padding: 5px;
}
.goods_info_form table td input,
.goods_info_form table td select {
    height: 30px;
    outline: none;
}
.goods_info_form table td #infoStepText,
.goods_info_form table td #infoNumText,
.goods_info_form table td select {
    width: calc(50% / 3 - 50px);
}
.goods_info_form table td .info_name_text{
    width: 50%;
}
.goods_info_form table td .info_num_text2 {
    width: calc( (50% / 3) * 2 - 4px);
}
.goods_info_form table td select {
    vertical-align: middle;
}
.goods_info_form table td .form_group {
    display: inline-block;
    width: 50px;
}
.goods_info_form table td .info_price_num,
.goods_info_form table td .info_stock_num {
    width: 25%;
    text-align: right;
}
.goods_info_form .info_btn_box {
    text-align: center;
}
.goods_info_form .info_btn_box input,
.goods_info_form .info_btn_box a {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: #0D0D0D;
    color: #fff;
    vertical-align: middle;
}
.goods_info_form .info_btn_box input:hover,
.goods_info_form .info_btn_box a:hover {
    background-color: #0052A4;
    color: #fff;
}




/* ****************** goods_regist.html ******************** */
.goods_regist h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
/* tab menu */
.goods_regist .goods_regist_tab_menu {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
}
.goods_regist .goods_regist_tab_menu div {
    width: calc(50% - 2px);
    height: 100%;
    line-height: 40px;
    text-align: center;
    float: left;
}
.goods_regist .goods_regist_tab_menu div a {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-bottom: 1px solid #000;
}
/* 탭메뉴 활성화 클래스 */
.goods_regist_tab_active {
    border: 1px solid #000 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
    background-color: #2D3D4D !important;
    color: #fff !important;
}
/* 탭 컨텐츠 */
.goods_regist .goods_regist_tab {
    display: none;
}

.table_title_box .btn_box #goodsRegistExcel {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.table_title_box .btn_box #goodsRegistExcel:hover {
    background-color: #0052A4;
    color: #fff;
}

.goods_regist_form table th,
.goods_regist_form table td {
    height: 40px;
}
.goods_regist_form table th {
    width: 100px;
}
.goods_regist_form table td {
    text-align: left;
    padding: 5px;
}
.goods_regist_form table td input,
.goods_regist_form table td select {
    height: 30px;
    outline: none;
}
.goods_regist_form table td #registStepText,
.goods_regist_form table td #registNumText,
.goods_regist_form table td select {
    width: calc(50% / 3 - 50px);
}
.goods_regist_form table td .regist_code_text,
.goods_regist_form table td .regist_stock_num {
    width: 25%;
}
.goods_regist_form table td .regist_name_text,
.goods_regist_form table td .regist_name_text {
    width: 50%;
}
.goods_regist_form table td .regist_num_text2 {
    width: calc( (50% / 3) * 2 - 4px);
}
.goods_regist_form table td select {
    vertical-align: middle;
}
.goods_regist_form table td .form_group {
    display: inline-block;
    width: 50px;
}
.goods_regist_form table td .regist_price_num,
.goods_regist_form table td .regist_stock_num {
    width: 25%;
    text-align: right;
}

.tab_regist_bundle .regist_table td {
    width: 10%;
}
.tab_regist_bundle .regist_table td.td_name {
    width: 40%;
}
.tab_regist_bundle .regist_table td input {
    width: 90%;
    height: 20px;
    outline: none;
}
.tab_regist_bundle .regist_table td select {
    outline: none;
}
.tab_regist_bundle .regist_table td .regist_name_text {
    width: 100%;
}

/* 등록된 상품이 없을 때 보여줄 테이블 */
.empty_table {
    width: 100%;
    height: 200px;
}


/* 하단 버튼들 */
.regist_btn_box {
    text-align: center;
}
.regist_btn_box input,
.regist_btn_box a {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: #0D0D0D;
    color: #fff;
    vertical-align: middle;
}
.regist_btn_box input:hover,
.regist_btn_box a:hover {
    background-color: #0052A4;
    color: #fff;
}




/* ****************** stock_manage.html ******************** */
.stock_manage_list h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.stock_manage_list table .stock_manage_num {
    width: 10%;
}
.stock_manage_list table .stock_manage_num input {
    width: 90%;
    outline: none;
}
.stock_manage_list table .soldout_td {
    color: #f00;
}
/* 테이블의 상품코드, 상품명 텍스트(링크) */
.stock_code_link,
.stock_name_link {
    color: #0052A4;
    text-decoration: underline;
}




/* ****************** goods_detail_popup.html ******************** */
.popup_wrap {
    padding: 10px;
}
.popup_wrap h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.popup_wrap .basic_info_table {
    border-top: 1px solid #c6c6c6;
}
.popup_wrap .basic_info_table th { 
    width: 20%;
}
.popup_wrap .basic_info_table td { 
    width: 80%;
    text-align: left;
    padding-left: 10px;
}
.popup_wrap .basic_info_table .basic_info_half { 
    width: 30%;
}
.popup_wrap .stock_sum_table {
    border-top: 1px solid #c6c6c6; 
    margin-bottom: 10px;
}
.popup_wrap .stock_sum_table th {
    width: 20%;
}
.popup_wrap .stock_sum_table td {
    width: 30%;
    text-align: left;
    padding-left: 10px;
}
/* 하단 버튼 */
.popup_wrap .detail_ok_box {
    width: 100%;
    height: 30px;
    text-align: center;
}
.popup_wrap .detail_ok_box button {
    width: 100px;
    height: 30px;
    background-color: #0D0D0D;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
}
.popup_wrap .detail_ok_box button:hover {
    background-color: #0052A4;
}



/* ****************** stock_notice_popup.html ******************** */
.popup_wrap .warning {
    color: #f00;
}
/* 오늘하루 보지않기 체크박스, 닫기 버튼 */
.popup_wrap .detail_close_box {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
}
.popup_wrap .detail_close_box button {
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    outline: none;
    margin-left: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.popup_wrap .detail_close_box button::before {
    content: '';
    display: block;
    width: 1px;
    height: 15px;
    background-color: #000;
    position: absolute;
    top: 3px;
    left: -10px;
}



/* ****************** customer_list.html ******************** */
.customer_list h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
/* 상단 검색창 */
.search_form .search_left_box .form_group #cityBigSelect {
    width: 20%;
}
.search_form .search_left_box .form_group #citySmallSelect {
    width: 20%;
}
.search_form .search_left_box .form_group #customerSearchText {
    width: calc(85% - 8px);
    height: 30px;
    vertical-align: top;
    outline: none;
}

.customer_list table {
    table-layout: fixed;
}
.customer_list table th:first-child {
    width: calc(100% / 17);
}
.customer_list table th:nth-child(2) {
    width: calc((100% / 17) * 2);
}
.customer_list table th:nth-child(3) {
    width: calc((100% / 17) * 2);
}
.customer_list table th:nth-child(4) {
    width: calc((100% / 17) * 2);
}
.customer_list table th:nth-child(5) {
    width: calc((100% / 17) * 3);
}
.customer_list table th:nth-child(6) {
    width: calc((100% / 17) * 3);
}
.customer_list table th:nth-child(7) {
    width: calc((100% / 17) * 2);
}
.customer_list table th:nth-child(8) {
    width: calc((100% / 17) * 2);
}

/* 표 위 총 개수, 버튼들 */
.table_title_box .btn_box #customerListExcel {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.table_title_box .btn_box #customerListExcel:hover {
    background-color: #0052A4;
    color: #fff;
} 
/* 테이블 내 상세주소 td */
.detail_address {
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 테이블의 수정 텍스트(링크) */
.customer_edit_link,
.customer_del_link {
    color: #0052A4;
    text-decoration: underline;
}




/* ****************** customer_register.html ******************** */
.customer_regist h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.customer_regist_form table th,
.customer_regist_form table td {
    height: 40px;
}
.customer_regist_form table th {
    width: 100px;
}
.customer_regist_form table td {
    text-align: left;
    padding: 5px;
}
.customer_regist_form table td input,
.customer_regist_form table td select {
    width: 30%;
    height: 30px;
    outline: none;
}
.customer_regist_form table td .customer_name_text {
    width: calc(45% + 25px);
}
.customer_regist_form table td .customer_phone_num,
.customer_regist_form table td .customer_mobile_num {
    width: 8%;
}
.customer_regist_form table td select {
    vertical-align: middle;
}
.customer_regist_form table td #customerPostcodeBtn {
    width: 120px;
    height: 30px;
    background-color: rgb(31, 59, 204);
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: 0;
    outline: none;
    vertical-align: middle;
}
.customer_regist_form table td .customer_address_text1,
.customer_regist_form table td .customer_address_text2 {
    width: 100%;
}
/* 하단 버튼 */
.customer_regist_form .regist_btn_box {
    text-align: center;
}
.customer_regist_form .regist_btn_box input,
.customer_regist_form .regist_btn_box a {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: #0D0D0D;
    color: #fff;
    vertical-align: middle;
}
.customer_regist_form .regist_btn_box input:hover,
.customer_regist_form .regist_btn_box a:hover {
    background-color: #0052A4;
    color: #fff;
}
/* readonly 보이게 */
.customer_regist_form table td input:read-only {
    border: 1px solid #000;
}




/* ****************** customer_edit.html ******************** */
.customer_edit h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.customer_edit_form table th,
.customer_edit_form table td {
    height: 40px;
}
.customer_edit_form table th {
    width: 100px;
}
.customer_edit_form table td {
    text-align: left;
    padding: 5px;
}
.customer_edit_form table td input,
.customer_edit_form table td select {
    width: 30%;
    height: 30px;
    outline: none;
}
.customer_edit_form table td .customer_name_text {
    width: calc(45% + 25px);
}
.customer_edit_form table td .customer_phone_num,
.customer_edit_form table td .customer_mobile_num {
    width: 8%;
}
.customer_edit_form table td select {
    vertical-align: middle;
}
.customer_edit_form table td #customerPostcodeBtn {
    width: 120px;
    height: 30px;
    background-color: rgb(31, 59, 204);
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: 0;
    outline: none;
    vertical-align: middle;
}
.customer_edit_form table td .customer_address_text1,
.customer_edit_form table td .customer_address_text2 {
    width: 100%;
}
/* 하단 버튼 */
.customer_edit_form .edit_btn_box {
    text-align: center;
}
.customer_edit_form .edit_btn_box input,
.customer_edit_form .edit_btn_box a {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: #0D0D0D;
    color: #fff;
    vertical-align: middle;
}
.customer_edit_form .edit_btn_box input:hover,
.customer_edit_form .edit_btn_box a:hover {
    background-color: #0052A4;
    color: #fff;
}
/* readonly 보이게 */
.customer_edit_form table td input:read-only {
    border: 1px solid #000;
}




/* ****************** customer_sales_list.html ******************** */
.customer_sales_list h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
/* 상단 검색창 */
.search_form .search_left_box .form_group #customerSalesDate1,
.search_form .search_left_box .form_group #customerSalesDate2 {
    width: 20%;
    height: 30px;
    outline: none;
}
.search_form .search_left_box .form_group .customer_search_text {
    width: calc(85% - 8px);
    height: 30px;
    vertical-align: top;
    outline: none;
}
.search_form .search_left_box .form_group .month_btn_box {
    display: inline-block;
    width: 30%;
}
.search_form .search_left_box .form_group .month_btn_box button {
    display: inline-block;
    width: 32%;
    height: 30px;
    border: 1px solid #000;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}

.customer_sales_list table {
    table-layout: auto;
}

/* 표 위 총 개수, 버튼들 */
.table_title_box .btn_box #customerSalesExcel {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.table_title_box .btn_box #customerSalesExcel:hover {
    background-color: #0052A4;
    color: #fff;
} 
/* 구분선 없애기 */
.customer_sales_list .table_title_box .table_title span:first-child::after {
    display: none;
}




/* ****************** bill_list.html ******************** */
.bill_list h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
/* 상단 검색창 */
.search_form .search_left_box .form_group #billDate1,
.search_form .search_left_box .form_group #billDate2 {
    width: 20%;
    height: 30px;
    outline: none;
}
.search_form .search_left_box .form_group .bill_search_text {
    width: calc(85% - 8px);
    height: 30px;
    vertical-align: top;
    outline: none;
}
.search_form .search_left_box .form_group .month_btn_box {
    display: inline-block;
    width: 30%;
}
.search_form .search_left_box .form_group .month_btn_box button {
    display: inline-block;
    width: 32%;
    height: 30px;
    border: 1px solid #000;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}

.bill_list table {
    table-layout: fixed;
}
.bill_list table th:first-child {
    width: calc(100% / 18);
}
.bill_list table th:nth-child(2) {
    width: calc((100% / 18) * 2);
}
.bill_list table th:nth-child(3) {
    width: calc(100% / 18);
}
.bill_list table th:nth-child(4) {
    width: calc(100% / 18);
}
.bill_list table th:nth-child(5) {
    width: calc((100% / 18) * 2);
}
.bill_list table th:nth-child(6) {
    width: calc((100% / 18) * 3);
}
.bill_list table th:nth-child(7) {
    width: calc((100% / 18) * 3);
}
.bill_list table th:nth-child(8) {
    width: calc((100% / 18) * 3);
}
.bill_list table th:nth-child(9) {
    width: calc((100% / 18) * 2);
}

/* 표 위 총 개수, 버튼들 */
.table_title_box .btn_box #billExcel {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.table_title_box .btn_box #billExcel:hover {
    background-color: #0052A4;
    color: #fff;
} 
/* 구분선 없애기 */
.bill_list .table_title_box .table_title span:first-child::after {
    display: none;
}
/* 테이블 안에 테이블 */
.inside_table_tr {
    border-bottom: 0;
}
.inside_table_td {
    height: 0;
}
.inside_table_td > div {
    width: 100%;
    /* height: 200px; */
    height: 0;
    overflow-y: auto;
    /* padding: 20px; */
}
/* 토글 클래스 */
.inside_table_td_on {
    height: 200px !important;
}
.inside_table_td_on > div {
    width: 100% !important;
    height: 200px !important;
    overflow-y: auto !important;
    padding: 20px !important;
}
/* 테이블 안의 테이블 컬럼너비 조정 */
.bill_list table table {
    table-layout: fixed;
}
.bill_list table table th {
    background-color: rgb(0, 140, 255);
}
.bill_list table table th:first-child {
    width: calc(100% / 16);
}
.bill_list table table th:nth-child(2) {
    width: calc((100% / 16) * 2);
}
.bill_list table table th:nth-child(3) {
    width: calc((100% / 16) * 2);
}
.bill_list table table th:nth-child(4) {
    width: calc((100% / 16) * 3);
}
.bill_list table table th:nth-child(5) {
    width: calc(100% / 16);
}
.bill_list table table th:nth-child(6) {
    width: calc((100% / 16) * 2);
}
.bill_list table table th:nth-child(7) {
    width: calc(100% / 16);
}
.bill_list table table th:nth-child(8) {
    width: calc((100% / 16) * 2);
}
.bill_list table table th:nth-child(9) {
    width: calc((100% / 16) * 2);
}









/* ****************** book_order.html ******************** */
#wrap_book_order {
    width: 100%;
    height: 100%;
    /* min-height: 100vh; */
    position: relative;
    padding-bottom: 50px;
}

#main_order {
    width: calc(80% - 40px);
    background-color: #ddd;
    float: left;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}

#main_order h2 {
    margin-bottom: 10px;
}
#main_order form {
    width: 100%;
}
#main_order form .select_group {
    width: 100%;
}
#main_order form .select_group select {
    display: inline-block;
    width: 60%;
    height: 30px;
    background-color: #ddd;
    margin-bottom: 2px;
}
#main_order form .select_group .book_order_add {
    width: 60%;
    text-align: center;
    margin: 10px auto;
}
#main_order form .select_group .book_order_add_btn {
    width: 100px;
    height: 30px;
    background-color: #6cc;
    cursor: pointer;
}
#main_order form table {
    width: 80%;
    margin: 20px auto;
}
#main_order form table tr {
    height: 30px;
}
#main_order form table, 
#main_order form tr, 
#main_order form th, 
#main_order form td {
    border: 0;
}
#main_order form table input[type=number] {
    width: 50px;
    background-color: #ddd;
}
#main_order form table .sold_out_text,
#main_order form table .discontinued_text {
    color: #f00;
}
#main_order form .shopping_basket_submit {
    width: 150px;
    height: 30px;
    cursor: pointer;
    background-color: #6cc;
}


/* ****************** a_s_request.html ******************** */
#wrap_as_req {
    width: 100%;
    position: relative;
    padding-bottom: 50px;
}

#main_as_req {
    width: calc(80% - 40px);
    background-color: #ddd;
    float: left;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}

#main_as_req h2 {
    margin-bottom: 10px;
}
#main_as_req form {
    width: 100%;
}
#main_as_req form .select_group {
    width: 100%;
    text-align: left;
    padding: 0 0 0 20%;
}
#main_as_req form .select_group select {
    display: inline-block;
    width: 60%;
    height: 30px;
    background-color: #ddd;
    margin-bottom: 2px;
}
#main_as_req form .select_group .picture_attach {
    width: 100px;
    height: 30px;
    background-color: #6cc;
    cursor: pointer;
}
#main_as_req form .select_group textarea {
    display: inline-block;
    width: 60%;
    height: 60px;
    background-color: #ddd;
    margin-bottom: 2px;
}
#main_as_req form .select_group .as_add {
    width: 60%;
    text-align: center;
}
#main_as_req form .select_group .as_add_btn {
    width: 100px;
    height: 30px;
    background-color: #6cc;
    cursor: pointer;
}
#main_as_req form table {
    width: 80%;
    margin: 20px auto;
}
#main_as_req form table tr {
    height: 30px;
}
#main_as_req form table, 
#main_as_req form tr, 
#main_as_req form th, 
#main_as_req form td {
    border: 0;
}
#main_as_req form table input[type=number] {
    width: 50px;
    background-color: #ddd;
}
#main_as_req form table textarea {
    width: 200px;
    height: 60px;
    background-color: #ddd;
}
#main_as_req form .as_request_submit {
    width: 150px;
    height: 30px;
    cursor: pointer;
    background-color: #6cc;
}



/* ****************** return_request.html ******************** */
#wrap_return_req {
    width: 100%;
    position: relative;
    padding-bottom: 50px;
}

#main_return_req {
    width: calc(80% - 40px);
    background-color: #ddd;
    float: left;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}

#main_return_req h2 {
    margin-bottom: 10px;
}
#main_return_req form {
    width: 100%;
}
#main_return_req form .select_group select {
    display: inline-block;
    width: 60%;
    height: 30px;
    background-color: #ddd;
    margin-bottom: 2px;
}
#main_return_req form .select_group .return_add {
    text-align: center;
}
#main_return_req form .select_group .return_add_btn {
    width: 100px;
    height: 30px;
    background-color: #6cc;
    cursor: pointer;
}
#main_return_req form table {
    width: 80%;
    margin: 20px auto;
}
#main_return_req form table tr {
    height: 30px;
}
#main_return_req form table, 
#main_return_req form tr, 
#main_return_req form th, 
#main_return_req form td {
    border: 0;
}
#main_return_req form table input[type=number] {
    width: 50px;
    background-color: #ddd;
}
#main_return_req form table textarea {
    width: 200px;
    height: 60px;
    background-color: #ddd;
}
#main_return_req form .return_request_submit {
    width: 150px;
    height: 30px;
    cursor: pointer;
    background-color: #6cc;
}




/* ****************** shopping_basket.html ******************** */
#wrap_shopping_basket {
    width: 100%;
    position: relative;
    padding-bottom: 50px;
}

#main_shopping_basket {
    width: calc(80% - 40px);
    background-color: #ddd;
    float: left;
    /* text-align: center; */
    padding: 20px;
    margin-bottom: 50px;
}
#main_shopping_basket .title_box {
    width: 100%;
}
#main_shopping_basket .title_box h2 {
    float: left;
    margin-bottom: 10px;
}
#main_shopping_basket .title_box div {
    float: right;
}
#main_shopping_basket .title_box button {
    width: 80px;
    height: 30px;
    cursor: pointer;
    background-color: #6cc;
}
#main_shopping_basket form {
    width: 100%;
}
#main_shopping_basket form fieldset {
    border: 1px solid #000;
    padding: 10px;
}
#main_shopping_basket form .cart_in_date {
    margin-bottom: 10px;
}
#main_shopping_basket form .memo_tip {
    margin-bottom: 10px;
}
#main_shopping_basket form .form_group {
    width: 100%;
    margin-bottom: 10px;
}
#main_shopping_basket form .form_group .num_count {
    width: 50px;   
    background-color: #ddd;
}
#main_shopping_basket form .form_group .num_won {
    width: 100px;
    background-color: #ddd;
}
#main_shopping_basket form textarea {
    background-color: #ddd;
}