/* 작성자: 윤혜진 */
@charset "utf-8";

#main {
    width: 100%;
}


/* ****************** notice_list.html ******************** */
#wrapNoticeList {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

#mainNoticeList {
    width: 100%;
}

#mainNoticeList .content {
    width: calc(80% - 40px);
    float: left;
}




/* ****************** book_order.html ******************** */
#wrap_book_order {
    width: 100%;
    height: 100%;
    /* min-height: 100vh; */
    position: relative;
    padding-bottom: 50px;
}

#main_order {
    width: calc(80% - 40px);
    background-color: #ddd;
    float: left;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}

#main_order h2 {
    margin-bottom: 10px;
}
#main_order form {
    width: 100%;
}
#main_order form .select_group {
    width: 100%;
}
#main_order form .select_group select {
    display: inline-block;
    width: 60%;
    height: 30px;
    background-color: #ddd;
    margin-bottom: 2px;
}
#main_order form .select_group .book_order_add {
    width: 60%;
    text-align: center;
    margin: 10px auto;
}
#main_order form .select_group .book_order_add_btn {
    width: 100px;
    height: 30px;
    background-color: #6cc;
    cursor: pointer;
}
#main_order form table {
    width: 80%;
    margin: 20px auto;
}
#main_order form table tr {
    height: 30px;
}
#main_order form table, 
#main_order form tr, 
#main_order form th, 
#main_order form td {
    border: 0;
}
#main_order form table input[type=number] {
    width: 50px;
    background-color: #ddd;
}
#main_order form table .sold_out_text,
#main_order form table .discontinued_text {
    color: #f00;
}
#main_order form .shopping_basket_submit {
    width: 150px;
    height: 30px;
    cursor: pointer;
    background-color: #6cc;
}


/* ****************** a_s_request.html ******************** */
#wrap_as_req {
    width: 100%;
    min-height: 1000px;
    position: relative;
    padding-bottom: 50px;
}

#main_as_req {
    width: calc(80% - 40px);
    background-color: #ddd;
    float: left;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}

#main_as_req h2 {
    margin-bottom: 10px;
}
#main_as_req form {
    width: 100%;
}
#main_as_req form .select_group {
    width: 100%;
    text-align: left;
    padding: 0 0 0 20%;
}
#main_as_req form .select_group select {
    display: inline-block;
    width: 60%;
    height: 30px;
    background-color: #ddd;
    margin-bottom: 2px;
}
#main_as_req form .select_group .picture_attach {
    width: 100px;
    height: 30px;
    background-color: #6cc;
    cursor: pointer;
}
#main_as_req form .select_group textarea {
    display: inline-block;
    width: 60%;
    height: 60px;
    background-color: #ddd;
    margin-bottom: 2px;
}
#main_as_req form .select_group .as_add {
    width: 60%;
    text-align: center;
}
#main_as_req form .select_group .as_add_btn {
    width: 100px;
    height: 30px;
    background-color: #6cc;
    cursor: pointer;
}
#main_as_req form table {
    width: 80%;
    margin: 20px auto;
}
#main_as_req form table tr {
    height: 30px;
}
#main_as_req form table, 
#main_as_req form tr, 
#main_as_req form th, 
#main_as_req form td {
    border: 0;
}
#main_as_req form table input[type=number] {
    width: 50px;
    background-color: #ddd;
}
#main_as_req form table textarea {
    width: 200px;
    height: 60px;
    background-color: #ddd;
}
#main_as_req form .as_request_submit {
    width: 150px;
    height: 30px;
    cursor: pointer;
    background-color: #6cc;
}



/* ****************** return_request.html ******************** */
#wrap_return_req {
    width: 100%;
    min-height: 1000px;
    position: relative;
    padding-bottom: 50px;
}

#main_return_req {
    width: calc(80% - 40px);
    background-color: #ddd;
    float: left;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}

#main_return_req h2 {
    margin-bottom: 10px;
}
#main_return_req form {
    width: 100%;
}
#main_return_req form .select_group select {
    display: inline-block;
    width: 60%;
    height: 30px;
    background-color: #ddd;
    margin-bottom: 2px;
}
#main_return_req form .select_group .return_add {
    text-align: center;
}
#main_return_req form .select_group .return_add_btn {
    width: 100px;
    height: 30px;
    background-color: #6cc;
    cursor: pointer;
}
#main_return_req form table {
    width: 80%;
    margin: 20px auto;
}
#main_return_req form table tr {
    height: 30px;
}
#main_return_req form table, 
#main_return_req form tr, 
#main_return_req form th, 
#main_return_req form td {
    border: 0;
}
#main_return_req form table input[type=number] {
    width: 50px;
    background-color: #ddd;
}
#main_return_req form table textarea {
    width: 200px;
    height: 60px;
    background-color: #ddd;
}
#main_return_req form .return_request_submit {
    width: 150px;
    height: 30px;
    cursor: pointer;
    background-color: #6cc;
}




/* ****************** shopping_basket.html ******************** */
#wrap_shopping_basket {
    width: 100%;
    min-height: 1000px;
    position: relative;
    padding-bottom: 50px;
}

#main_shopping_basket {
    width: calc(80% - 40px);
    background-color: #ddd;
    float: left;
    /* text-align: center; */
    padding: 20px;
    margin-bottom: 50px;
}
#main_shopping_basket .title_box {
    width: 100%;
}
#main_shopping_basket .title_box h2 {
    float: left;
    margin-bottom: 10px;
}
#main_shopping_basket .title_box div {
    float: right;
}
#main_shopping_basket .title_box button {
    width: 80px;
    height: 30px;
    cursor: pointer;
    background-color: #6cc;
}
#main_shopping_basket form {
    width: 100%;
}
#main_shopping_basket form fieldset {
    border: 1px solid #000;
    padding: 10px;
}
#main_shopping_basket form .cart_in_date {
    margin-bottom: 10px;
}
#main_shopping_basket form .memo_tip {
    margin-bottom: 10px;
}
#main_shopping_basket form .form_group {
    width: 100%;
    margin-bottom: 10px;
}
#main_shopping_basket form .form_group .num_count {
    width: 50px;   
    background-color: #ddd;
}
#main_shopping_basket form .form_group .num_won {
    width: 100px;
    background-color: #ddd;
}
#main_shopping_basket form textarea {
    background-color: #ddd;
}