/* 작성자: 윤혜진, 작성일: 2020.11.26 */
@charset "utf-8";

/* ********************** 공통영역 ********************** */
#wrap {
    width: 100%;
    position: relative;
    padding-bottom: 50px;
}
#main {
    width: 80%;
    padding-top: 40px;
    margin: 0 auto;
}
#mainBox {
    width: calc(85% - 40px);
    float: left;
    margin-left: 40px;
}

/* 테이블(리스트) */
table {
    width: 100%;
    text-align: center;
    border: 0;
    border-top: 1px solid #c6c6c6;
    margin-bottom: 30px;
}
table tr {
    border: 0;
    border-bottom: 1px solid #c6c6c6;
}
table th,
table td {
    height: 30px;
    border: 0;
}
table th {
    background-color: #2D3D4D;
    color: #fff;
}
table td input:read-only {
    border: 0;
}
/* 테이블의 조회 텍스트(링크) */
.view_link {
    color: #0052A4;
    text-decoration: underline;
}
/* 내역조회 팝업창 띄우는 td에 스타일 적용용 클래스 */
.active_td {
    background-color: #ccc;
    cursor: pointer;
}

/* 높이 긴 테이블(리스트) */
.big_table {
    width: 100%;
    border: 0;
    border-top: 1px solid #c6c6c6;
    margin-bottom: 30px;
}
.big_table tr {
    border: 0;
    border-bottom: 1px solid #c6c6c6;
}
.big_table th,
.big_table td {
    border: 0;
    height: 40px;
}
.big_table th {
    width: 100px;
    background-color: #2D3D4D;
    color: #fff;
}
.big_table td {
    text-align: left;
    padding: 5px;
}
.big_table td select {
    width: 30%;
    height: 30px;
    outline: 0;
    vertical-align: middle;
}

/* thead가 파란색인 테이블(리스트) */
.blue_table {
    width: 100%;
    text-align: center;
    border: 0;
    border-top: 1px solid #c6c6c6;
    margin-bottom: 30px;
}
.blue_table tr {
    border: 0;
    border-bottom: 1px solid #c6c6c6;
}
.blue_table th,
.blue_table td {
    height: 30px;
    border: 0;
}
.blue_table th {
    background-color: #005DBA;
    color: #fff;
}
.blue_table td input:read-only {
    border: 0;
}
/* 주문한 상품이 없을 때 */
.blue_table .empty_td {
    height: 100px;
}
.blue_table .total_text_td,
.blue_table .total_td {
    font-weight: bold;
}
.blue_table .total_td {
    border-left: 1px solid #c6c6c6;
    text-align: right;
}
/* 셀렉트박스 */
.blue_table select {
    outline: none;
}
/* 넘버박스, x버튼 */
.blue_table input[type="number"] {
    width: 50px;
    outline: none;
}
.blue_table td a {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.blue_table td a img {
    width: 100%;
    height: 100%;
}
/* 텍스트박스 */
.blue_table input[type="text"] {
    outline: none;
}

/* 배경색이 흰색인 테이블 */
.white_table {
    width: 100%;
    border: 0;
    border-top: 1px solid #000;
    margin-bottom: 30px;
}
.white_table tr {
    border: 0;
    border-bottom: 1px solid #c6c6c6;
}
.white_table tr:last-child {
    border: 0;
    border-bottom: 1px solid #000;
}
.white_table th,
.white_table td {
    height: 40px;
    border: 0;
    text-align: left;
}
.white_table th {
    width: 150px;
    border-right: 1px solid #c6c6c6;
    background-color: #fff;
    color: #000;
    font-weight: normal;
    padding-left: 10px;
}
.white_table .order_group_th {
    border-right: 0;
}
.white_table .address_rowspan {
    vertical-align: top;
    padding-top: 10px;
}
.white_table td {
    padding: 5px;
}
.white_table .radio_td span:first-child {
    margin-right: 30px;
}
.white_table .cost,
.white_table .charge,
.white_table .total_cost {
    text-align: right;
}
.white_table .cost {
    border-right: 1px solid #c6c6c6;
}
.white_table .total_cost,
.white_table .total_cost_th {
    font-weight: bold;
}
.white_table td input {
    height: 30px;
    border: 1px solid #ccc;
    outline: none;
}
.white_table td input:read-only {
    border: 1px solid #ccc;
}
.white_table .branch_postcode_num {
    width: 20%;
}
.white_table .branch_postcode_btn {
    width: 120px;
    height: 30px;
    background-color: rgb(31, 59, 204);
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: 0;
    outline: none;
    vertical-align: middle;
}
.white_table .branch_address_text1,
.white_table .branch_address_text2 {
    width: 60%;
}

/* 페이지네이션 */
.pagination {
    text-align: center;
}
.pagination > div {
    display: inline-block;
}
.pagination a {
    float: left;
    padding: 6px;
    border: 1px solid #ddd;
    margin: 0 4px;
}
.pagination a.page_active {
    background-color: #0D0D0D;
    color: white;
    border: 1px solid #0D0D0D;
}
.pagination a:hover.page_active {
    background-color: #0052A4;
    border: 1px solid #0052A4;
}
.pagination a:hover:not(.page_active) {
    background-color: #ddd;
}

/* 하단 버튼 */
.under_btn_box {
    text-align: center;
}
.under_btn_box a,
.under_btn_box button {
    display: inline-block;
    width: 100px;
    height: 30px;
    border: 0;
    outline: none;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    background-color: #0D0D0D;
    color: #fff;
    vertical-align: middle;
}
.under_btn_box .basket_btn {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.under_btn_box a:hover,
.under_btn_box button:hover {
    background-color: #0052A4;
    color: #fff;
}
/* 테이블 위 검색창 */
.search_form {
    width: 100%;
    border: 1px solid #000;
    padding: 20px;
    margin-bottom: 20px;
}
.search_form .search_left_box {
    float: left;
    width: calc(100% - 100px);
    padding-right: 20px;
}
.search_form .search_left_box .form_group {
    width: 100%;
    height: 30px;
}
.search_form .search_left_box .form_group:first-child {
    margin-bottom: 10px;
}
.search_form .search_left_box .form_group select {
    width: 15%;
    height: 100%;
    outline: none;
}
.search_form .search_left_box .form_group #searchText {
    width: calc(100% - 16%);
    height: 100%;
    outline: none;
    vertical-align: top;
}
.search_form .search_left_box .form_group span {
    display: inline-block;
    width: 15%;
    height: 100%;
    line-height: 30px;
}
.search_form .search_left_box .form_group label {
    margin-right: 20px;
}
/* 검색 버튼 */
.search_form .search_btn_box {
    float: right;
    position: relative;
    padding-top: 20px;
}
.search_form .search_btn_box::after {
    content: "";
    display: block;
    width: 1px;
    height: 70px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: -12px;
}
.search_form .search_btn_box input {
    width: 100px;
    height: 30px;
    background-color: #0D0D0D;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
}
.search_form .search_btn_box input:hover {
    background-color: #0052A4;
}
/* 표 위 총 개수, 버튼들 */
.table_title_box {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}
.table_title_box .table_title {
    float: left;
    height: 100%;
    line-height: 30px;
}
.table_title_box .table_title span:first-child {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}
.table_title_box .table_title span:first-child::after {
    content: "";
    display: block;
    width: 1px;
    height: 20px;
    background-color: #000;
    position: absolute;
    top: 5px;
    right: -12px;
}
.table_title_box .table_title span:last-child {
    font-weight: bold;
}
.table_title_box .btn_box {
    float: right;
    height: 100%;
    line-height: 30px;
}
.table_title_box .btn_box button,
.table_title_box .btn_box a {
    display: inline-block;
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: #0D0D0D;
    color: #fff;
    cursor: pointer;
    border: 0;
    outline: none;
    margin-left: 10px;
}
.table_title_box .btn_box button:hover,
.table_title_box .btn_box a:hover {
    background-color: #0052A4;
}








/* ************************** 개별영역 ************************** */
/* ****************** notice_list.html ******************** */
.notice_list h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.notice_list .notice_list_title {
    text-align: left;
}
.notice_list .notice_list_attach {
    width: 30px;
}
.notice_list .notice_list_attach a img {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}



/* ****************** notice_detail.html ******************** */
.notice_detail h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.notice_detail .big_table {
    text-align: center;
}
.notice_detail .big_table td {
    padding: 10px;
}
.notice_detail .big_table .notice_content {
    height: 200px;
    overflow: auto;
    vertical-align: top;
}
.notice_detail .under_btn_box {
    text-align: right;
}
.notice_detail .under_btn_box button {
    margin: 0 10px;
}




/* ****************** book_order.html ******************** */
.book_order_list h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.book_order_list .big_table td {
    padding: 0 5px;
}
.book_order_list .under_btn_box a:first-child {
    margin-right: 10px;
}
.book_order_list .under_btn_box a:first-child:hover {
    border: 0;
}
/* 구분선 없애기 */
.book_order_list .table_title_box .table_title span:first-child::after {
    display: none;
}




/* ****************** a_s_request.html ******************** */
.as_request_list h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* 거래원명을 선택 안했을때(초기값) */
.as_request_list .blue_table tbody {
    display: none;
}

/* 사진 등록 버튼 */
.as_request_list .as_picture_btn {
    width: 50px;
    height: 20px;
    border: 0;
    outline: 0;
    background-color: #005DBA;
    color: #fff;
    cursor: pointer;
}
.as_request_list .as_picture_file {
    display: none;
}

/* 구분선 없애기 */
.as_request_list .table_title_box .table_title span:first-child::after {
    display: none;
}




/* ****************** return_request.html ******************** */
.return_request_list h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* 거래원명을 선택 안했을때(초기값) */
.return_request_list .blue_table tbody {
    display: none;
}

/* 구분선 없애기 */
.return_request_list .table_title_box .table_title span:first-child::after {
    display: none;
}




/* ****************** shopping_basket.html ******************** */
.shopping_basket h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.shopping_basket_choice .shop_postcode_num {
    width: 20%;
}
.shopping_basket_choice .shop_postcode_btn {
    width: 120px;
    height: 30px;
    background-color: rgb(31, 59, 204);
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: 0;
    outline: none;
    vertical-align: middle;
}
.shopping_basket_choice .shop_address_text1,
.shopping_basket_choice .shop_address_text2 {
    width: 60%;
}
.shopping_basket .under_btn_box a:first-child {
    margin-right: 10px;
    background-color: #7F7F7F;
    color: #fff;
}




/* ****************** shopping_basket.html ******************** */
.shopping_basket h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.shopping_basket .under_btn_box a:first-child {
    margin-right: 10px;
    background-color: #7F7F7F;
    color: #fff;
}




/* ****************** shopping_basket_choice.html ******************** */
.shopping_basket_choice h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
/* 구분선 없애기 */
.shopping_basket_choice .table_title_box .table_title span:first-child::after {
    display: none;
}
/* 우편번호 */
.shopping_basket_choice .shop_postcode_num {
    width: 20%;
}
.shopping_basket_choice .shop_postcode_btn {
    width: 120px;
    height: 30px;
    background-color: rgb(31, 59, 204);
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: 0;
    outline: none;
    vertical-align: middle;
}
.shopping_basket_choice .shop_address_text1,
.shopping_basket_choice .shop_address_text2 {
    width: 60%;
}
/* 하단 버튼 */
.shopping_basket_choice .under_btn_box a:first-child {
    margin-right: 10px;
}
.shopping_basket_choice .under_btn_box a:last-child {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    margin-right: 10px;
}
.shopping_basket_choice .under_btn_box a:last-child:hover {
    background-color: #0052A4;
    color: #fff;
    border: 0;
    margin-right: 10px;
}




/* ****************** shopping_basket_all.html ******************** */
.shopping_basket_all h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
/* 구분선 없애기 */
.shopping_basket_all .table_title_box .table_title span:first-child::after {
    display: none;
}
/* 우편번호 */
.shopping_basket_all .shop_postcode_num {
    width: 20%;
}
.shopping_basket_all .shop_postcode_btn {
    width: 120px;
    height: 30px;
    background-color: rgb(31, 59, 204);
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: 0;
    outline: none;
    vertical-align: middle;
}
.shopping_basket_all .shop_address_text1,
.shopping_basket_all .shop_address_text2 {
    width: 60%;
}
/* 하단 버튼 */
.shopping_basket_all .under_btn_box a:first-child {
    margin-right: 10px;
}
.shopping_basket_all .under_btn_box a:last-child {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    margin-right: 10px;
}
.shopping_basket_all .under_btn_box a:last-child:hover {
    background-color: #0052A4;
    color: #fff;
    border: 0;
    margin-right: 10px;
}




/* ****************** customer_list.html ******************** */
.customer_list h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
/* 상단 검색창 */
.search_form .search_left_box .form_group #cityBigSelect1 {
    width: 20%;
}
.search_form .search_left_box .form_group #citySmallSelect1 {
    width: 20%;
}
.search_form .search_left_box .form_group .select_name_box {
    display: inline-block;
    width: calc(85% - 8px);
    vertical-align: top;
}
.search_form .search_left_box .form_group #customerSearchText1 {
    width: calc(100% - 250px);
    height: 30px;
    outline: none;
}
.search_form .search_left_box .form_group .select_name_box .checkbox_box {
    display: inline-block;
    padding-left: 5px;
}

.customer_list table {
    table-layout: fixed;
}
.customer_list table th:first-child {
    width: calc(100% / 15);
}
.customer_list table th:nth-child(2) {
    width: calc((100% / 15) * 2);
}
.customer_list table th:nth-child(3) {
    width: calc((100% / 15) * 2);
}
.customer_list table th:nth-child(4) {
    width: calc((100% / 15) * 3);
}
.customer_list table th:nth-child(5) {
    width: calc((100% / 15) * 3);
}
.customer_list table th:nth-child(6) {
    width: calc((100% / 15) * 2);
}
.customer_list table th:nth-child(7) {
    width: calc((100% / 15) * 2);
}

/* 표 위 총 개수, 버튼들 */
.table_title_box .btn_box #customerListExcel1 {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.table_title_box .btn_box #customerListExcel1:hover {
    background-color: #0052A4;
    color: #fff;
} 
/* 테이블 내 상세주소 td */
.detail_address {
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 테이블의 수정 텍스트(링크) */
.customer_edit_link,
.customer_del_link {
    color: #0052A4;
    text-decoration: underline;
}




/* ****************** customer_register.html ******************** */
.customer_regist h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.customer_regist_form table th,
.customer_regist_form table td {
    height: 40px;
}
.customer_regist_form table th {
    width: 100px;
}
.customer_regist_form table td {
    text-align: left;
    padding: 5px;
}
.customer_regist_form table td input,
.customer_regist_form table td select {
    width: 30%;
    height: 30px;
    outline: none;
}
.customer_regist_form table td .customer_name_text {
    width: calc(45% + 25px);
}
.customer_regist_form table td .customer_phone_num,
.customer_regist_form table td .customer_mobile_num {
    width: 8%;
}
.customer_regist_form table td select {
    vertical-align: middle;
}
.customer_regist_form table td #customerPostcodeBtn1 {
    width: 120px;
    height: 30px;
    background-color: rgb(31, 59, 204);
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: 0;
    outline: none;
    vertical-align: middle;
}
.customer_regist_form table td .customer_address_text1,
.customer_regist_form table td .customer_address_text2 {
    width: 100%;
}
/* 하단 버튼 */
.customer_regist_form .regist_btn_box {
    text-align: center;
}
.customer_regist_form .regist_btn_box input,
.customer_regist_form .regist_btn_box a {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: #0D0D0D;
    color: #fff;
    vertical-align: middle;
}
.customer_regist_form .regist_btn_box input:hover,
.customer_regist_form .regist_btn_box a:hover {
    background-color: #0052A4;
    color: #fff;
}
/* readonly 보이게 */
.customer_regist_form table td input:read-only {
    border: 1px solid #000;
}




/* ****************** customer_edit.html ******************** */
.customer_edit h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.customer_edit_form table th,
.customer_edit_form table td {
    height: 40px;
}
.customer_edit_form table th {
    width: 100px;
}
.customer_edit_form table td {
    text-align: left;
    padding: 5px;
}
.customer_edit_form table td input,
.customer_edit_form table td select {
    width: 30%;
    height: 30px;
    outline: none;
}
.customer_edit_form table td .customer_name_text {
    width: calc(45% + 25px);
}
.customer_edit_form table td .customer_phone_num,
.customer_edit_form table td .customer_mobile_num {
    width: 8%;
}
.customer_edit_form table td select {
    vertical-align: middle;
}
.customer_edit_form table td #customerPostcodeBtn1 {
    width: 120px;
    height: 30px;
    background-color: rgb(31, 59, 204);
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: 0;
    outline: none;
    vertical-align: middle;
}
.customer_edit_form table td .customer_address_text1,
.customer_edit_form table td .customer_address_text2 {
    width: 100%;
}
/* 하단 버튼 */
.customer_edit_form .edit_btn_box {
    text-align: center;
}
.customer_edit_form .edit_btn_box input,
.customer_edit_form .edit_btn_box a {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: #0D0D0D;
    color: #fff;
    vertical-align: middle;
}
.customer_edit_form .edit_btn_box input:hover,
.customer_edit_form .edit_btn_box a:hover {
    background-color: #0052A4;
    color: #fff;
}
/* readonly 보이게 */
.customer_edit_form table td input:read-only {
    border: 1px solid #000;
}




/* ****************** customer_sales_list.html ******************** */
.customer_sales_list h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
/* 상단 검색창 */
.search_form .search_left_box .form_group #customerSalesDate1_1,
.search_form .search_left_box .form_group #customerSalesDate2_1 {
    width: 20%;
    height: 30px;
    outline: none;
}
.search_form .search_left_box .form_group .month_btn_box {
    display: inline-block;
    width: 30%;
}
.search_form .search_left_box .form_group .month_btn_box button {
    display: inline-block;
    width: 32%;
    height: 30px;
    border: 1px solid #000;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}
.search_form .search_left_box .form_group .customer_name_box {
    display: inline-block;
    width: calc(85% - 8px);
    vertical-align: top;
}
.search_form .search_left_box .form_group #customerSearchText1 {
    width: calc(100% - 250px);
    height: 30px;
    outline: none;
}
.search_form .search_left_box .form_group .customer_name_box .checkbox_box {
    display: inline-block;
    padding-left: 5px;
}

.customer_sales_list table {
    table-layout: auto;
}

/* 표 위 총 개수, 버튼들 */
.table_title_box .btn_box #customerSalesExcel1 {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.table_title_box .btn_box #customerSalesExcel1:hover {
    background-color: #0052A4;
    color: #fff;
} 
/* 구분선 없애기 */
.customer_sales_list .table_title_box .table_title span:first-child::after {
    display: none;
}




/* ****************** order_list.html ******************** */
.order_list h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
/* 상단 검색창 */
.search_form {
    margin-bottom: 30px;
}
.search_form .search_left_box .form_group #orderListDate1,
.search_form .search_left_box .form_group #orderListDate2 {
    width: 20%;
    height: 30px;
    outline: none;
}
.search_form .search_left_box .form_group .month_btn_box {
    display: inline-block;
    width: 30%;
}
.search_form .search_left_box .form_group .month_btn_box button {
    display: inline-block;
    width: 32%;
    height: 30px;
    border: 1px solid #000;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}
.search_form .search_left_box .form_group .customer_name_box {
    display: inline-block;
    width: calc(85% - 8px);
    vertical-align: top;
}
.search_form .search_left_box .form_group #orderCustomerSearchText {
    width: calc(100% - 250px);
    height: 30px;
    outline: none;
}
.search_form .search_left_box .form_group .customer_name_box .checkbox_box {
    display: inline-block;
    padding-left: 5px;
}
/* 주문취소 td */
.order_cancel_td a {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.order_cancel_td a img {
    display: inline-block;
    width: 100%;
    height: 100%;
}
/* 팝업창 */
.popup_wrap {
    /* height: 100%; */
    background-color: #ccc;
    padding: 5px;
}
.popup_wrap .popup_header {
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
}
.popup_wrap .popup_header h1 {
    font-size: 2rem;
    float: left;
}
.popup_wrap .popup_header .icon_box {
    float: right;
}
.popup_wrap .popup_header .icon_box a {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.popup_wrap .popup_header .icon_box a:first-child {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    vertical-align: sub;
}
.popup_wrap .popup_header .icon_box img {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.popup_wrap .popup_box {
    /* height: calc(100% - 50px); */
    background-color: #fff;
    padding: 10px;
}
.popup_wrap .popup_box .cost_th {
    width: 140px;
}
.popup_wrap .popup_box .right_td {
    text-align: right;
    padding-right: 10px;
}




/* ****************** a_s_list.html ******************** */
.as_list h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
/* 상단 검색창 */
.search_form {
    margin-bottom: 30px;
}
.search_form .search_left_box .form_group #asListDate1,
.search_form .search_left_box .form_group #asListDate2 {
    width: 20%;
    height: 30px;
    outline: none;
}
.search_form .search_left_box .form_group .month_btn_box {
    display: inline-block;
    width: 30%;
}
.search_form .search_left_box .form_group .month_btn_box button {
    display: inline-block;
    width: 32%;
    height: 30px;
    border: 1px solid #000;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}
.search_form .search_left_box .form_group .customer_name_box {
    display: inline-block;
    width: calc(85% - 8px);
    vertical-align: top;
}
.search_form .search_left_box .form_group #asCustomerSearchText {
    width: calc(100% - 250px);
    height: 30px;
    outline: none;
}
.search_form .search_left_box .form_group .customer_name_box .checkbox_box {
    display: inline-block;
    padding-left: 5px;
}
/* 주문취소 td */
.as_cancel_td a {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.as_cancel_td a img {
    display: inline-block;
    width: 100%;
    height: 100%;
}




/* ****************** return_list.html ******************** */
.return_list h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
/* 상단 검색창 */
.search_form {
    margin-bottom: 30px;
}
.search_form .search_left_box .form_group #returnListDate1,
.search_form .search_left_box .form_group #returnListDate2 {
    width: 20%;
    height: 30px;
    outline: none;
}
.search_form .search_left_box .form_group .month_btn_box {
    display: inline-block;
    width: 30%;
}
.search_form .search_left_box .form_group .month_btn_box button {
    display: inline-block;
    width: 32%;
    height: 30px;
    border: 1px solid #000;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}
.search_form .search_left_box .form_group .customer_name_box {
    display: inline-block;
    width: calc(85% - 8px);
    vertical-align: top;
}
.search_form .search_left_box .form_group #returnCustomerSearchText {
    width: calc(100% - 250px);
    height: 30px;
    outline: none;
}
.search_form .search_left_box .form_group .customer_name_box .checkbox_box {
    display: inline-block;
    padding-left: 5px;
}
/* 주문취소 td */
.return_cancel_td a {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.return_cancel_td a img {
    display: inline-block;
    width: 100%;
    height: 100%;
}




