/* 작성자: 윤혜진 */
@charset "utf-8";


html, body {
    height: 100%;
}

/* ************** header ***************** */
#header {
    width: 100%;
    height: 100px;
}
#header .container {
    padding: 0 20px;
}
/* header_top */
#header .header_top {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .header_top .logo_box h1 {
    display: inline-block;
    width: 150px;
    height: 50px;
}
#header .header_top .logo_box h1 a {
    width: 100%;
    height: 100%;
}
#header .header_top .logo_box h1 a img {
    width: 100%;
    height: 100%;
}
#header .header_top .logo_box div {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: bold;
}
#header .header_top .logout_box button {
    display: inline-block;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    background-color: #eee;
    outline: none;
    border-radius: 0;
    border: 1px solid #000;
    cursor: pointer;
}
#header .header_top .logout_box > div {
    display: inline-block;
    margin-right: 5px;
}
#header .header_top .logout_box .user_name {
    color: #f90;
}
/* gnb */
#header .gnb {
    width: 100%;
    height: 50px;
    background-color: #033AA1;
    overflow: hidden;
    position: relative;
    z-index: 10;
}
#header .gnb > ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}
#header .gnb > ul > li {
    display: inline-block;
    width: calc(100% / 6);
    text-align: center;
    position: relative;
}
#header .gnb > ul > li > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    font-weight: bold;
    font-size: 1.6rem;
    color: #fff;
    background-color: #01114F;
}
#header .gnb > ul ul li {
    width: 100%;
    height: 50px;
}
#header .gnb > ul ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 50px;
}
#header .gnb > ul ul li a:hover {
    background-color: #465FB3;
}
/* 팝업창 */
#pwChangePopup {
    display: none;
    width: 100%; 
    height: 100%;
    position: fixed; 
    top: 0; 
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 20;
}
#pwChangePopup .popup-contents{
    width: 600px; 
    height: 400px; 
    background-color: #fff;
    border: 1px solid #000;
    position: absolute; 
    left: 50%; 
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 40px;
}
#pwChangePopup .popup-contents h2 {
    margin-bottom: 20px;
    width: 150px;
    height: 50px;
    margin-left: -15px;
}
#pwChangePopup .popup-contents h2 img {
    width: 100%;
    height: 100%;
}
#pwChangePopup .popup-contents form {
    width: 100%;
    height: 100%;
}
#pwChangePopup .popup-contents form .form_group {
    width: 100%;
    margin-bottom: 10px;
}
#pwChangePopup .popup-contents form .form_group label {
    display: inline-block;
    width: 150px;
    height: 30px;
}
#pwChangePopup .popup-contents form .form_group input {
    display: inline-block;
    width: 250px;
    height: 30px;
    outline: none;
    vertical-align: text-bottom;
}
#pwChangePopup .popup-contents form .form_group #pwChangeId,
#pwChangePopup .popup-contents form .form_group #pwChangeName {
    border: 0;   
}
#pwChangePopup .popup-contents form .form_button_box {
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 20px;
}
#pwChangePopup .popup-contents form .form_button_box input,
#pwChangePopup .popup-contents form .form_button_box button {
    width: 80px;
    height: 100%;
    vertical-align: middle;
    border: 0;
    outline: none;
    background-color: #0D0D0D;
    color: #fff;
}
#pwChangePopup .popup-contents form .form_button_box input:hover,
#pwChangePopup .popup-contents form .form_button_box button:hover {
    background-color: #0052A4;
}
#pwChangePopup .popup-contents form .form_button_box button {
    display: inline-block;
    margin-left: 30px;
}



/* ************** footer ***************** */
#footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-top: 1px solid #ccc;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
}




/* ************** sidebar ***************** */
.sidebar {
    width: calc(15% - 20px);
    margin: 40px 0 0 10%;
    float: left;
}
.sidebar .snb {
    text-align: center;
}
.sidebar .snb .snb_title {
    font-weight: bold;
    color: #fff;
    background-color: #01114F;
    height: 50px;
    line-height: 50px;
}
.sidebar .snb ul {
    background-color: #F2F2F2;
}
.sidebar .snb ul li {
    width: 100%;
    height: 50px;
}
.sidebar .snb ul li a {
    line-height: 50px;
}









