@charset "utf-8";

#main {
    width: 100%;
}

#main_order {
    width: calc(80% - 40px);
    background-color: #ddd;
    float: left;
    text-align: center;
    padding: 20px;
}

#main_order h2 {
    margin-bottom: 10px;
}
#main_order form {
    width: 100%;
}
#main_order form .select_group {
    width: 100%;
}
#main_order form .select_group select {
    display: inline-block;
    width: 60%;
    height: 30px;
    background-color: #ddd;
    margin-bottom: 2px;
}
#main_order form table {
    width: 80%;
    margin: 20px auto;
}
#main_order form table tr {
    height: 30px;
}
#main_order form table, 
#main_order form tr, 
#main_order form th, 
#main_order form td {
    border: 0;
}
#main_order form table input[type=number] {
    width: 50px;
    background-color: #ddd;
}
#main_order form table .sold_out_text,
#main_order form table .discontinued_text {
    color: #f00;
}
#main_order form .shopping_basket_submit {
    width: 150px;
    height: 30px;
    background-color: #6cc;
}